In [1]:
import pandas as pd
import numpy as np
ser = pd.Series(np.random.random(20))

In [2]:
ser

0     0.918986
1     0.689961
2     0.034464
3     0.877359
4     0.463695
5     0.686163
6     0.148162
7     0.602465
8     0.749891
9     0.888003
10    0.863241
11    0.593616
12    0.605389
13    0.544997
14    0.828665
15    0.893072
16    0.866874
17    0.984458
18    0.235888
19    0.502819
dtype: float64

In [3]:
type(ser)

pandas.core.series.Series

In [7]:
pd.qcut(ser, [0,0.1,.2,.3,.4,.5,.6,.7,.8,.9,1], labels=['1st','2nd',"3rd","4th","5th","6th","7th","8th",'9th','10th'])

0     10th
1      6th
2      1st
3      8th
4      2nd
5      5th
6      1st
7      4th
8      6th
9      9th
10     7th
11     4th
12     5th
13     3rd
14     7th
15     9th
16     8th
17    10th
18     2nd
19     3rd
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [8]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [13]:
pd.DataFrame(ser.values.reshape(5,7),columns=[1,2,3,4,5,6,7],index=[1,2,3,4,5])

   1  2  3  4  5  6  7
1  1  7  7  7  5  6  4
2  9  4  3  7  5  6  4
3  3  4  2  6  9  7  6
4  5  8  8  2  2  2  3
5  1  3  1  8  3  3  8

In [14]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [21]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [22]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [34]:
pd.concat([ser1,ser2],axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [35]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [47]:
[np.where(i==ser2)[0].tolist() for i in ser1]

[[2], [], [], [], [1], [0], [], [], [3]]

In [53]:
[np.where(i==ser1.values)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [56]:
[ser1[ser1==i].index.tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [63]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [64]:
truth

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [65]:
pred

0    0.390299
1    1.198756
2    2.908115
3    3.744892
4    4.610861
5    5.908924
6    6.284242
7    7.545492
8    8.832098
9    9.833380
dtype: float64

In [66]:
np.mean([(pred-truth)**2 for i in truth for j in pred])

0.4535933206946354

In [68]:
np.mean((pred-truth)**2)

0.4535933206946354

In [70]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [71]:
ser=pd.Series([i.capitalize() for i in ser])

In [72]:
ser

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [73]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
[len(i) for i in ser]

[3, 2, 4, 4]

In [85]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff()

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

In [87]:
ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [84]:
ser.diff().diff().tolist()

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [88]:
ser.diff().diff().diff()

0    NaN
1    NaN
2    NaN
3    0.0
4    0.0
5    0.0
6   -1.0
7    2.0
dtype: float64

In [2]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [3]:
type(ser)

pandas.core.series.Series

In [4]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [5]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [6]:
ser=pd.to_datetime(ser)

In [7]:
ser

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [10]:
ser.dt.day

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [11]:
ser.dt.month

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [12]:
ser.dt.weekday

0    4
1    2
2    5
3    3
4    0
5    5
dtype: int64

In [13]:
ser.dt.weekday_name

0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

In [14]:
ser.dt.dayofyear

0      1
1     33
2     63
3     94
4    125
5    157
dtype: int64

In [15]:
ser.dt.weekofyear

0    53
1     5
2     9
3    14
4    19
5    23
dtype: int64

In [43]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
ser=pd.to_datetime(ser).dt.date

In [48]:
ser[1]

NameError: name 'date' is not defined

In [35]:
from dateutil.parser import parse

In [36]:
parse?

In [31]:
np.parse?

Object `np.parse` not found.

In [37]:
ser.map(lambda x:parse('04 ' + x))

TypeError: can only concatenate str (not "datetime.date") to str