In [1]:
print('hello world')
print('Hi World')

hello world
Hi World

hi

In [1]:
a=20

In [2]:
type(a)

int

In [3]:
a=["nima","arvin"]

In [4]:
a

['nima', 'arvin']

In [5]:
type(a)

list

In [6]:
my_income=100
tax_rate=0.1
my_taxes=my_income*tax_rate

In [7]:
my_taxes

10.0

In [9]:
'hello'

'hello'

In [10]:
"world"

'world'

In [11]:
'this is also a string'

'this is also a string'

In [12]:
"I'm going on the run"

"I'm going on the run"

In [13]:
print("hello")

hello

In [14]:
print('hello \n world')

hello
 world

In [15]:
print("Hello\n World")

Hello
 World

In [16]:
print("Hello\nWorld")

Hello
World

In [17]:
print("Hello \t World")

Hello 	 World

\t for Tab

In [18]:
len("hello")

5

In [19]:
len("I am hungry")

11

In [20]:
len("I am")

4

In [2]:
mystring="Hello World"

In [3]:
mystring

'Hello World'

In [5]:
type(mystring)

str

In [23]:
mystring[0]

'H'

In [24]:
mystring[8]

'r'

In [25]:
mystring[9]

'l'

In [26]:
mystring[-2]

'l'

In [27]:
mystring[-3]

'r'

Indexing of text starts from 0 meaning that the first character is index of 0

Negatinve indexing starts from -1 means that it counts from the end of the string whatever length it is. Negatinve indexing is similar to the Right() formula and indexing is equal to the Left() formula

In [29]:
mystring[-1]

'd'

In [6]:
mystring[::-1]

'dlroW olleH'

In [30]:
mystring='abcdefghijk'

In [31]:
mystring

'abcdefghijk'

In [32]:
mystring[2:]

'cdefghijk'

In [33]:
mystring[2]

'c'

In [34]:
mystring[:4]

'abcd'

stop index means that to go up to but not including the index position

In [36]:
mystring[4]

'e'

want to grab def

In [38]:
mystring[3:6]

'def'

In [39]:
mystring[1:3]

'bc'

In [40]:
mystring[::]

'abcdefghijk'

In [41]:
mystring[::2]

'acegik'

In [42]:
mystring[::3]

'adgj'

Indexing string contains three arguments 
[start:stop:step size]

In [43]:
mystring[2:7:2]

'ceg'

In [44]:
mystring[::-1]

'kjihgfedcba'

Trick to reverse a string
[::-1]

In [45]:
mystring[::-1]

'kjihgfedcba'

Immutability of Strings

In [46]:
name="sam"

In [48]:
#name[0]="p"

In [50]:
#name[1:]=last_letters

In [51]:
last_letters=name[1:]

In [52]:
'P'+last_letters

'Pam'

In [55]:
x='hello world '

In [56]:
x+'it is beautiful outside'

'hello world it is beautiful outside'

In [57]:
x+'it is beautiful outside'

'hello world it is beautiful outside'

In [58]:
x+'it is beautiful outside'

'hello world it is beautiful outside'

In [59]:
x=x+'it is beautiful outside'

In [60]:
x+'it is beautiful outside'

'hello world it is beautiful outsideit is beautiful outside'

In [61]:
x+'it is beautiful outside'

'hello world it is beautiful outsideit is beautiful outside'

In [62]:
letter='z'

In [63]:
letter * 10

'zzzzzzzzzz'

In [64]:
x * 5

'hello world it is beautiful outsidehello world it is beautiful outsidehello world it is beautiful outsidehello world it is beautiful outsidehello world it is beautiful outside'

In [65]:
2+3

5

In [66]:
'2'+'3'

'23'

In [8]:
x = 'hello world'

to bring the string functions for a string:
put . and then press Tab

x.tab 
and then the list of string functions will show up

In [9]:
x.upper()

'HELLO WORLD'

In [12]:
x.count

In [74]:
x.lower()

'hello world'

In [75]:
x.split()

['hello', 'world']

In [76]:
x = 'Hi this is a string'

In [77]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [78]:
x.split(i)

NameError: name 'i' is not defined

In [79]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [1]:
print('this is a string{}'.format('inserted'))

this is a stringinserted

In [2]:
print('the {} {} {}'.format('fox','brown','quick'))

the fox brown quick

In [3]:
print('the {2} {1} {0}'.format('fox','brown','quick'))

the quick brown fox

In [4]:
print('the {0} {1} {0}'.format('fox','brown','quick'))

the fox brown fox

In [5]:
print('the {0} {} {0}'.format('fox','brown','quick'))

ValueError: cannot switch from manual field specification to automatic field numbering

In [6]:
print('the {0} {0} {0}'.format('fox','brown','quick'))

the fox fox fox

In [7]:
print('the {} {} {}'.format(f='fox',b='brown',q='quick'))

IndexError: tuple index out of range

In [8]:
print('the {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

the quick brown fox

Float formatting follows :

"{value:width.precision f}"

In [13]:
result=104.523456789

In [14]:
result

104.523456789

In [15]:
print("the result was {}".format(result))

the result was 104.523456789

In [16]:
print('the result was {r}'.format(r=result))

the result was 104.523456789

In [17]:
print('the result was {r}'.format(r=result))

the result was 104.523456789

In [56]:
print('the result was {r:1.3f}'.format(r=result))

the result was 104.523

In [20]:
print('the result was {r:10.3f}'.format(r=result))

the result was 104.523

In [58]:
print('the result was {r:1.5f}'.format(r=result))

the result was 104.52346

In [59]:
print('the result was {r:10.6f}'.format(r=result))

the result was 104.523457

In [60]:
print('the result was {r:1.8f}'.format(r=result))

the result was 104.52345679

In [61]:
print('the result was {r:1.5f}'.format(r=result))

the result was 104.52346

In [62]:
name='jose'

In [63]:
print(f'hello, his name is {name}')

hello, his name is jose

In [1]:
name='sam'
age=3
print(f'{name} is {age} years old')

sam is 3 years old

In [4]:
print(f'{name} is {age:1.3f} years old')

sam is 3.000 years old

In [65]:
print('result is {result}')

result is {result}

In [66]:
print(f'result is {result}')

result is 104.523456789

In [67]:
print(f'result is {result}.format')

result is 104.523456789.format

In [68]:
print(f'result is {result:1.8f}')

result is 104.52345679

In [69]:
print(f'result is {result:1.3f}')

result is 104.523

In [70]:
print(f'result is {result:1.0f}')

result is 105

In [71]:
print(f'result is {result:1.1f}')

result is 104.5

In [72]:
print(' the {2} {0} {1}'.format('blue','sky','high'))

 the high blue sky

In [73]:
print('the {}{}{}{r:1.4f}'.format('blue','sky','high',r=result))

the blueskyhigh104.5235

In [74]:
print('the {}  {} {}{r:1.4f}'.format('blue','sky','high',r=result))

the blue  sky high104.5235

In [75]:
print('the {}  {} {}    {r:1.4f}'.format('blue','sky','high',r=result))

the blue  sky high    104.5235

In [5]:
my_list=[1,2,3]

In [6]:
my_list=['string',100, 23.55668]

In [7]:
my_list[1]

100

In [8]:
my_list[2]

23.55668

In [9]:
my_list[0]

'string'

In [10]:
len(my_list)

3

In [11]:
my_list.reverse()

In [12]:
my_list

[23.55668, 100, 'string']

In [16]:
my_list.count

In [17]:
my_list[1:]

[100, 'string']

In [18]:
my_list[::]

[23.55668, 100, 'string']

In [22]:
my_list[::-1]

[23.55668, 100, 'string']

In [23]:
my_list.reverse()

In [24]:
my_list

[23.55668, 100, 'string']

In [25]:
anotherlist=['four','five','six']

In [26]:
my_list+anotherlist

[23.55668, 100, 'string', 'four', 'five', 'six']

In [27]:
my_list+anotherlist[:1]

[23.55668, 100, 'string', 'four']

In [28]:
my_list+anotherlist[1:]

[23.55668, 100, 'string', 'five', 'six']

In [29]:
number_list=['one','two','three']

In [30]:
new_list=number_list+anotherlist

In [31]:
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [96]:
new_list[0]='ONE ALL CAPS'

In [97]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [98]:
new_list.append('seven')

In [32]:
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [34]:
new_list.pop()

'six'

In [35]:
new_list

['one', 'two', 'three', 'four', 'five']

In [36]:
new_list.append('seven')

In [37]:
new_list

['one', 'two', 'three', 'four', 'five', 'seven']

In [41]:
new_list.count(3)

0

In [47]:
new_list.count(1)

0

In [48]:
popped_item=new_list.pop()

In [49]:
popped_item

'five'

In [50]:
new_list.pop(0)

'one'

In [51]:
new_list

['two', 'three', 'four']

In [52]:
new_list.pop(-1)

'four'

In [53]:
new_list=['a','r','x','t','g','h']

In [54]:
new_list.sort()

In [55]:
new_list

['a', 'g', 'h', 'r', 't', 'x']

In [56]:
my_sorted_list=new_list.sort()

In [57]:
my_sorted_list

In [58]:
type(my_sorted_list)

NoneType

In [119]:
None

In [59]:
num_list=[4,6,9,3,7]

In [60]:
num_list.sort()
my_sorted_numlist=num_list

In [61]:
my_sorted_numlist

[3, 4, 6, 7, 9]

In [62]:
num_list.reverse()

In [63]:
num_list

[9, 7, 6, 4, 3]

In [64]:
my_list=[1,4,[5,7]]

In [65]:
my_list[2][1]

7

In [66]:
my_list[2][0]

5

DICTIONARIES

In [67]:
my_dict={'key1':'value1','key2':'value2','key3':'value3'}

In [68]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [69]:
my_dict['key1']

'value1'

In [70]:
prices_lookup={'apple':2.99,'oranges':1.99,'milk':5.80}

In [71]:
prices_lookup['apple']

2.99

In [72]:
prices_lookup['milk']

5.8

In [73]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':1000}}

In [74]:
d['k2']

[0, 1, 2]

In [75]:
d['k3']

{'insidekey': 1000}

In [76]:
d['k3']['insidekey']

1000

In [77]:
d['k2'][2]

2

In [100]:
d={'key1':['a','b','c']}

In [101]:
d['key1'][1]

'b'

In [102]:
d

{'key1': ['a', 'b', 'c']}

In [103]:
d['key1'][2]='C'

In [104]:
d

{'key1': ['a', 'b', 'C']}

In [105]:
mylist=d['key1']

In [106]:
letter=mylist[0]

In [107]:
mylist

['a', 'b', 'C']

In [108]:
letter=letter.upper()

In [109]:
letter

'A'

In [110]:
d

{'key1': ['a', 'b', 'C']}

In [111]:
letter

'A'

In [112]:
d['key1'][1]=d['key1'][1].upper()

In [113]:
d['key1'][1]

'B'

In [114]:
d = {'k1':100, 'k2':200}

In [115]:
d['k3']=300

In [116]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [117]:
d['k1']='NEW VALUE'

In [118]:
d['k1']

'NEW VALUE'

In [119]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [120]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [123]:
d.values()

dict_values([100, 200, 300])

In [124]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

TUPLES

In [125]:
t = (1,2,3)

In [126]:
mylist=[1,2,3]

In [127]:
type(t)

tuple

In [128]:
type(mylist)

list

In [129]:
len(t)

3

In [130]:
t

(1, 2, 3)

In [131]:
t=('one',2,4)

In [132]:
t[0]

'one'

In [133]:
t[-1]

4

In [134]:
t[::-1]

(4, 2, 'one')

In [47]:
t = ('a','a','b')

In [49]:
t.count('a')

2

In [50]:
t.index('b')

2

In [51]:
t.index('a')

0

TUPLE is IMMUTIBLE 
LIST in MUTIBLE

In [52]:
mylist

[1, 2, 3]

In [53]:
mylist[1]='NEW'

In [54]:
mylist

[1, 'NEW', 3]

In [55]:
t[1]='NEW'

TypeError: 'tuple' object does not support item assignment

thats because of the immutibility

Tuples are immutible and the benefit to that is when you want to assign some constant numbers in your code and you want to make sure those numbers dont change in the large piece of code

-------------------------------------------------------
SETS
Unordered collections of unique elements

In [56]:
myset = set()

In [57]:
myset

set()

In [58]:
myset.add(1)

In [59]:
myset

{1}

In [60]:
myset.add(2)

In [61]:
myset

{1, 2}

In [62]:
myset.add(2)

In [63]:
myset

{1, 2}

we have to add just uniques value

Sets are valuable to cast a list into a set to only see the uniques values

In [135]:
mylist= [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5,]

In [136]:
mylist

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5]

In [139]:
myset=set(mylist)

In [140]:
myset

{1, 2, 3, 4, 5}

In [143]:
myset[1]

TypeError: 'set' object does not support indexing

In [144]:
set('Mississippi')

{'M', 'i', 'p', 's'}

----------------------------------------
BOOLEANS

In [145]:
True

True

In [146]:
False

False

In [147]:
true

NameError: name 'true' is not defined

In [148]:
false

NameError: name 'false' is not defined

In [149]:
type(False)

bool

In [150]:
type(True)

bool

In [151]:
1 > 2

False

In [152]:
1 == 1

True

In [153]:
1 == 2

False

In [154]:
b = None

We use the None to assign a placeholder for a variable so that if you call that variable Python doesnt give an error

In [155]:
b

In [156]:
1 == b

False

-------------------------------------------


INPUT AND OUTPUT of TEXT FILES

In [160]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [161]:
myfile = open('myfile.txt')

In [162]:
myfile = open('Wops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'Wops_wrong.txt'

In [163]:
pwd

'/Users/nimaarvin/Py_Working_Dir/Py_Working_Dir/Complete-Python-3-Bootcamp-master'

In [164]:
myfile = open('myfile.txt')

In [165]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [87]:
print('Hello this is a text file\nthis is the second line\nthis is the third line')

Hello this is a text file
this is the second line
this is the third line

In [180]:
%%writefile nima.txt
My name is Nima
This is the first text file
I am learning Python

Overwriting nima.txt

In [181]:
nima=open('nima.txt')

In [182]:
nima.read()

'My name is Nima\nThis is the first text file\nI am learning Python'

In [183]:
print(nima.read())

In [184]:
nima2=nima.read()

In [185]:
print(nima2)

In [186]:
print('My name is Nima\nThis is the first text file\nI am learning Python')

My name is Nima
This is the first text file
I am learning Python

In [187]:
nima.readlines()

[]

In [188]:
nima.seek(0)

0

In [189]:
nima.readlines()

['My name is Nima\n', 'This is the first text file\n', 'I am learning Python']

In [190]:
print(nima.readlines())

[]

In [191]:
print('{d}{b}{c}{a}'.format(a='100',b='40',c='20',d='40'))

404020100

In [192]:
print('{d}{b}{c}{a:1.3f}'.format(a=100.6789767,b='40',c='20',d='40'))

404020100.679

In [193]:
myfile.read()

''

In [194]:
myfile.seek(0)

0

In [195]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

when you read a file the cursor will jump to the end of the text line, you should seek it back to zero

In [196]:
myfile.seek(0)

0

In [197]:
contents = myfile.read()

In [198]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [199]:
myfile.readlines()

[]

In [200]:
myfile.seek(0)

0

In [203]:
myfile.readlines()

[]

In [205]:
pwd

'/Users/nimaarvin/Py_Working_Dir/Py_Working_Dir/Complete-Python-3-Bootcamp-master'

In [206]:
print('{d:10.4f}{a}{c}'.format(a='blue', b='green', c='red', d=104.234567))

myfile = open('/Users/nimaarvin/Py_Working_Dir/Py_Working_Dir/Complete-Python-3-Bootcamp-master/heart.csv')
data = myfile.read()
data

  104.2346bluered

'\ufeffAge,sex,chest pain,blood pressure,cholestoral ,blood sugar,electrocardiographic ,heart rate,exercise induced,depression ,slope,ca,thal,c\n67,1,4,120,229,0,2,129,1,2.6,2,2,7,1\n53,1,4,140,203,1,2,155,1,3.1,3,0,7,1\n48,1,2,110,229,0,0,168,0,1,3,0,7,1\n58,1,2,120,284,0,2,160,0,1.8,2,0,3,1\n64,1,3,140,335,0,0,158,0,0,1,0,3,1\n57,1,4,150,276,0,2,112,1,0.6,2,1,6,1\n61,0,4,130,330,0,2,169,0,0,1,0,3,1\n60,1,4,130,253,0,0,144,1,1.4,1,1,7,1\n54,1,4,124,266,0,2,109,1,2.2,2,1,7,1\n50,1,3,140,233,0,0,163,0,0.6,2,1,7,1\n41,1,4,110,172,0,2,158,0,0,1,0,7,1\n58,1,4,128,216,0,2,131,1,2.2,2,3,7,1\n60,1,3,140,185,0,2,155,0,3,2,0,3,1\n46,1,3,150,231,0,0,147,0,3.6,2,0,3,1\n62,1,4,120,267,0,0,99,1,1.8,2,2,7,1\n65,1,4,110,248,0,2,158,0,0.6,1,2,6,1\n44,1,4,110,197,0,2,177,0,0,1,1,3,1\n60,1,4,125,258,0,2,141,1,2.8,2,1,7,1\n52,1,4,128,255,0,0,161,1,0,1,1,7,1\n57,1,3,128,229,0,2,150,0,0.4,2,1,7,1\n61,0,4,145,307,0,2,146,1,1,2,0,7,1\n56,1,4,125,249,1,2,144,1,1.2,2,1,3,1\n65,1,1,138,282,1,2,174,0,1.4,2,1,3,1\n35,1,4,120,198,0,0,130,1,1.6,2,0,7,1\n59,1,1,170,288,0,2,159,0,0.2,2,0,7,1\n64,1,3,125,309,0,0,131,1,1.8,2,0,7,1\n47,1,3,108,243,0,0,152,0,0,1,0,3,1\n70,1,4,130,322,0,2,109,0,2.4,2,3,3,1\n51,1,4,140,299,0,0,173,1,1.6,1,0,7,1\n58,1,4,125,300,0,2,171,0,0,1,2,7,1\n35,1,4,126,282,0,2,156,1,0,1,0,7,1\n59,0,4,174,249,0,0,143,1,0,2,0,3,1\n57,1,4,152,274,0,0,88,1,1.2,2,1,7,1\n56,1,4,132,184,0,2,105,1,2.1,2,1,6,1\n60,0,4,158,305,0,2,161,0,0,1,0,3,1\n54,1,2,192,283,0,2,195,0,0,1,1,7,1\n43,1,4,132,247,1,2,143,1,0.1,2,?,7,1\n59,1,1,160,273,0,2,125,0,0,1,0,3,1\n62,0,4,150,244,0,0,154,1,1.4,2,0,3,1\n52,1,4,112,230,0,0,160,0,0,1,1,3,1\n63,1,1,145,233,1,2,150,0,2.3,3,0,6,0\n37,1,3,130,250,0,0,187,0,3.5,3,0,3,0\n41,0,2,130,204,0,2,172,0,1.4,1,0,3,0\n56,1,2,120,236,0,0,178,0,0.8,1,0,3,0\n57,0,4,120,354,0,0,163,1,0.6,1,0,3,0\n57,1,4,140,192,0,0,148,0,0.4,2,0,6,0\n56,0,2,140,294,0,2,153,0,1.3,2,0,3,0\n44,1,2,120,263,0,0,173,0,0,1,0,7,0\n52,1,3,172,199,1,0,162,0,0.5,1,0,7,0\n57,1,3,150,168,0,0,174,0,1.6,1,0,3,0\n54,1,4,140,239,0,0,160,0,1.2,1,0,3,0\n48,0,3,130,275,0,0,139,0,0.2,1,0,3,0\n49,1,2,130,266,0,0,171,0,0.6,1,0,3,0\n64,1,1,110,211,0,2,144,1,1.8,2,0,3,0\n58,0,1,150,283,1,2,162,0,1,1,0,3,0\n50,0,3,120,219,0,0,158,0,1.6,2,0,3,0\n58,0,3,120,340,0,0,172,0,0,1,0,3,0\n66,0,1,150,226,0,0,114,0,2.6,3,0,3,0\n43,1,4,150,247,0,0,171,0,1.5,1,0,3,0\n69,0,1,140,239,0,0,151,0,1.8,1,2,3,0\n59,1,4,135,234,0,0,161,0,0.5,2,0,7,0\n44,1,3,130,233,0,0,179,1,0.4,1,0,3,0\n42,1,4,140,226,0,0,178,0,0,1,0,3,0\n61,1,3,150,243,1,0,137,1,1,2,0,3,0\n40,1,1,140,199,0,0,178,1,1.4,1,0,7,0\n71,0,2,160,302,0,0,162,0,0.4,1,2,3,0\n59,1,3,150,212,1,0,157,0,1.6,1,0,3,0\n51,1,3,110,175,0,0,123,0,0.6,1,0,3,0\n65,0,3,140,417,1,2,157,0,0.8,1,1,3,0\n53,1,3,130,197,1,2,152,0,1.2,3,0,3,0\n41,0,2,105,198,0,0,168,0,0,1,1,3,0\n65,1,4,120,177,0,0,140,0,0.4,1,0,7,0\n44,1,2,130,219,0,2,188,0,0,1,0,3,0\n54,1,3,125,273,0,2,152,0,0.5,3,1,3,0\n51,1,1,125,213,0,2,125,1,1.4,1,1,3,0\n46,0,3,142,177,0,2,160,1,1.4,3,0,3,0\n54,0,3,135,304,1,0,170,0,0,1,0,3,0\n54,1,3,150,232,0,2,165,0,1.6,1,0,7,0\n65,0,3,155,269,0,0,148,0,0.8,1,0,3,0\n65,0,3,160,360,0,2,151,0,0.8,1,0,3,0\n51,0,3,140,308,0,2,142,0,1.5,1,1,3,0\n48,1,2,130,245,0,2,180,0,0.2,2,0,3,0\n45,1,4,104,208,0,2,148,1,3,2,0,3,0\n53,0,4,130,264,0,2,143,0,0.4,2,0,3,0\n39,1,3,140,321,0,2,182,0,0,1,0,3,0\n52,1,2,120,325,0,0,172,0,0.2,1,0,3,0\n44,1,3,140,235,0,2,180,0,0,1,0,3,0\n47,1,3,138,257,0,2,156,0,0,1,0,3,0\n53,0,3,128,216,0,2,115,0,0,1,0,?,0\n53,0,4,138,234,0,2,160,0,0,1,0,3,0\n51,0,3,130,256,0,2,149,0,0.5,1,0,3,0\n66,1,4,120,302,0,2,151,0,0.4,2,0,3,0\n62,1,3,130,231,0,0,146,0,1.8,2,3,7,0\n44,0,3,108,141,0,0,175,0,0.6,2,0,3,0\n63,0,3,135,252,0,2,172,0,0,1,0,3,0\n52,1,2,134,201,0,0,158,0,0.8,1,1,3,0\n48,1,4,122,222,0,2,186,0,0,1,0,3,0\n45,1,4,115,260,0,2,185,0,0,1,0,3,0\n34,1,1,118,182,0,2,174,0,0,1,0,3,0\n57,0,4,128,303,0,2,159,0,0,1,1,3,0\n71,0,3,110,265,1,2,130,0,0,1,1,3,0\n54,1,2,108,309,0,0,156,0,0,1,0,7,0\n52,1,1,118,186,0,2,190,0,0,2,0,6,0\n41,1,2,135,203,0,0,132,0,0,2,0,6,0\n58,1,3,140,211,1,2,165,0,0,1,0,3,0\n35,0,4,138,183,0,0,182,0,1.4,1,0,3,0\n51,1,3,100,222,0,0,143,1,1.2,2,0,3,0\n45,0,2,130,234,0,2,175,0,0.6,2,0,3,0\n44,1,2,120,220,0,0,170,0,0,1,0,3,0\n62,0,4,124,209,0,0,163,0,0,1,0,3,0\n54,1,3,120,258,0,2,147,0,0.4,2,0,7,0\n51,1,3,94,227,0,0,154,1,0,1,1,7,0\n29,1,2,130,204,0,2,202,0,0,1,0,3,0\n51,1,4,140,261,0,2,186,1,0,1,0,3,0\n43,0,3,122,213,0,0,165,0,0.2,2,0,3,0\n55,0,2,135,250,0,2,161,0,1.4,2,0,3,0\n51,1,3,125,245,1,2,166,0,2.4,2,0,3,0\n59,1,2,140,221,0,0,164,1,0,1,0,3,0\n52,1,2,128,205,1,0,184,0,0,1,0,3,0\n58,1,3,105,240,0,2,154,1,0.6,2,0,7,0\n41,1,3,112,250,0,0,179,0,0,1,0,3,0\n45,1,2,128,308,0,2,170,0,0,1,0,3,0\n60,0,3,102,318,0,0,160,0,0,1,1,3,0\n52,1,1,152,298,1,0,178,0,1.2,2,0,7,0\n42,0,4,102,265,0,2,122,0,0.6,2,0,3,0\n67,0,3,115,564,0,2,160,0,1.6,2,0,7,0\n68,1,3,118,277,0,0,151,0,1,1,1,7,0\n46,1,2,101,197,1,0,156,0,0,1,0,7,0\n54,0,3,110,214,0,0,158,0,1.6,2,0,3,0\n58,0,4,100,248,0,2,122,0,1,2,0,3,0\n48,1,3,124,255,1,0,175,0,0,1,2,3,0\n57,1,4,132,207,0,0,168,1,0,1,0,7,0\n52,1,3,138,223,0,0,169,0,0,1,?,3,0\n54,0,2,132,288,1,2,159,1,0,1,1,3,0\n45,0,2,112,160,0,0,138,0,0,2,0,3,0\n53,1,4,142,226,0,2,111,1,0,1,0,7,0\n62,0,4,140,394,0,2,157,0,1.2,2,0,3,0\n52,1,4,108,233,1,0,147,0,0.1,1,3,7,0\n43,1,3,130,315,0,0,162,0,1.9,1,1,3,0\n53,1,3,130,246,1,2,173,0,0,1,3,3,0\n42,1,1,148,244,0,2,178,0,0.8,1,2,3,0\n59,1,1,178,270,0,2,145,0,4.2,3,0,7,0\n63,0,2,140,195,0,0,179,0,0,1,2,3,0\n42,1,3,120,240,1,0,194,0,0.8,3,0,7,0\n50,1,3,129,196,0,0,163,0,0,1,0,3,0\n68,0,3,120,211,0,2,115,0,1.5,2,0,3,0\n69,1,1,160,234,1,2,131,0,0.1,2,1,3,0\n45,0,4,138,236,0,2,152,1,0.2,2,0,3,0\n50,0,2,120,244,0,0,162,0,1.1,1,0,3,0\n50,0,4,110,254,0,2,159,0,0,1,0,3,0\n64,0,4,180,325,0,0,154,1,0,1,0,3,0\n57,1,3,150,126,1,0,173,0,0.2,1,1,7,0\n64,0,3,140,313,0,0,133,0,0.2,1,0,7,0\n43,1,4,110,211,0,0,161,0,0,1,0,7,0\n55,1,2,130,262,0,0,155,0,0,1,0,3,0\n37,0,3,120,215,0,0,170,0,0,1,0,3,0\n41,1,3,130,214,0,2,168,0,2,2,0,3,0\n56,1,1,120,193,0,2,162,0,1.9,2,0,7,0\n46,0,2,105,204,0,0,172,0,0,1,0,3,0\n46,0,4,138,243,0,2,152,1,0,2,0,3,0\n64,0,4,130,303,0,0,122,0,2,2,2,3,0\n59,1,4,138,271,0,2,182,0,0,1,0,3,0\n41,0,3,112,268,0,2,172,1,0,1,0,3,0\n54,0,3,108,267,0,2,167,0,0,1,0,3,0\n39,0,3,94,199,0,0,179,0,0,1,0,3,0\n34,0,2,118,210,0,0,192,0,0.7,1,0,3,0\n47,1,4,112,204,0,0,143,0,0.1,1,0,3,0\n67,0,3,152,277,0,0,172,0,0,1,1,3,0\n52,0,3,136,196,0,2,169,0,0.1,2,0,3,0\n74,0,2,120,269,0,2,121,1,0.2,1,1,3,0\n54,0,3,160,201,0,0,163,0,0,1,1,3,0\n49,0,2,134,271,0,0,162,0,0,2,0,3,0\n42,1,2,120,295,0,0,162,0,0,1,0,3,0\n41,1,2,110,235,0,0,153,0,0,1,0,3,0\n41,0,2,126,306,0,0,163,0,0,1,0,3,0\n49,0,4,130,269,0,0,163,0,0,1,0,3,0\n60,0,3,120,178,1,0,96,0,0,1,0,3,0\n62,1,2,128,208,1,2,140,0,0,1,0,3,0\n57,1,4,110,201,0,0,126,1,1.5,2,0,6,0\n64,1,4,128,263,0,0,105,1,0.2,2,1,7,0\n51,0,3,120,295,0,2,157,0,0.6,1,0,3,0\n43,1,4,115,303,0,0,181,0,1.2,2,0,3,0\n42,0,3,120,209,0,0,173,0,0,2,0,3,0\n67,0,4,106,223,0,0,142,0,0.3,1,2,3,0\n76,0,3,140,197,0,1,116,0,1.1,2,0,3,0\n70,1,2,156,245,0,2,143,0,0,1,0,3,0\n44,0,3,118,242,0,0,149,0,0.3,2,1,3,0\n60,0,1,150,240,0,0,171,0,0.9,1,0,3,0\n44,1,3,120,226,0,0,169,0,0,1,0,3,0\n42,1,3,130,180,0,0,150,0,0,1,0,3,0\n66,1,4,160,228,0,2,138,0,2.3,1,0,6,0\n71,0,4,112,149,0,0,125,0,1.6,2,0,3,0\n64,1,1,170,227,0,2,155,0,0.6,2,0,7,0\n66,0,3,146,278,0,2,152,0,0,2,1,3,0\n39,0,3,138,220,0,0,152,0,0,2,0,3,0\n58,0,4,130,197,0,0,131,0,0.6,2,0,3,0\n47,1,3,130,253,0,0,179,0,0,1,0,3,0\n35,1,2,122,192,0,0,174,0,0,1,0,3,0\n58,1,2,125,220,0,0,144,0,0.4,2,?,7,0\n56,1,2,130,221,0,2,163,0,0,1,0,7,0\n56,1,2,120,240,0,0,169,0,0,3,0,3,0\n55,0,2,132,342,0,0,166,0,1.2,1,0,3,0\n41,1,2,120,157,0,0,182,0,0,1,0,3,0\n38,1,3,138,175,0,0,173,0,0,1,?,3,0\n40,1,2,140,289,0,0,172,0,0,,,,0\n37,1,2,130,283,0,1,98,0,0,,,,0\n54,1,3,150,,0,0,122,0,0,,,,0\n39,1,3,120,339,0,0,170,0,0,,,,0\n45,0,2,130,237,0,0,170,0,0,,,,0\n54,1,2,110,208,0,0,142,0,0,,,,0\n48,0,2,120,284,0,0,120,0,0,,,,0\n37,0,3,130,211,0,0,142,0,0,,,,0\n39,1,2,120,204,0,0,145,0,0,,,,0\n42,0,3,115,211,0,1,137,0,0,,,,0\n54,0,2,120,273,0,0,150,0,1.5,2,,,0\n43,0,2,120,201,0,0,165,0,0,,,,0\n43,0,1,100,223,0,0,142,0,0,,,,0\n44,1,2,120,184,0,0,142,0,1,2,,,0\n49,0,2,124,201,0,0,164,0,0,,,,0\n40,1,3,130,215,0,0,138,0,0,,,,0\n36,1,3,130,209,0,0,178,0,0,,,,0\n53,1,4,124,260,0,1,112,1,3,2,,,0\n52,1,2,120,284,0,0,118,0,0,,,,0\n53,0,2,113,468,,0,127,0,0,,,,0\n51,1,2,125,188,0,0,145,0,0,,,,0\n56,1,3,130,,0,0,114,0,0,,,,0\n43,0,2,150,186,0,0,154,0,0,,,,0\n32,1,2,125,254,0,0,155,0,0,,,,0\n41,0,2,110,250,0,1,142,0,0,,,,0\n48,0,2,120,,1,1,148,0,0,,,,0\n48,0,4,150,227,0,0,130,1,1,2,9,,0\n54,0,2,150,230,0,0,130,0,0,,,,0\n35,1,2,150,264,0,0,168,0,0,,,,0\n52,1,3,140,259,0,1,170,0,0,,,,0\n59,1,3,130,318,0,0,120,1,1,2,,3,0\n37,1,4,120,223,0,0,168,0,0,,,3,0\n50,1,2,140,216,0,0,170,0,0,,,3,0\n36,1,3,112,340,0,0,184,0,1,2,,3,0\n45,1,2,140,224,1,0,122,0,0,,,,0\n41,0,2,130,245,0,0,150,0,0,,,,0\n52,0,4,130,180,0,0,140,1,1.5,2,,,0\n51,0,2,160,194,0,0,170,0,0,,,,0\n54,1,4,150,365,0,1,134,0,1,1,,,0\n49,1,2,100,253,0,0,174,0,0,,,,0\n43,0,3,150,,0,0,175,0,0,,,3,0\n45,1,4,140,224,0,0,144,0,0,,,,0\n50,0,2,110,202,0,0,145,0,0,,,,0\n37,0,2,120,260,0,0,130,0,0,,,,0\n45,0,4,132,297,0,0,144,0,0,,,,0\n32,1,2,110,225,0,0,184,0,0,,,,0\n44,1,4,150,412,0,0,170,0,0,,,,0\n44,1,2,130,215,0,0,135,0,0,,,,0\n44,0,4,120,218,0,1,115,0,0,,,,0\n46,1,3,150,163,,0,116,0,0,,,,0\n35,0,4,140,167,0,0,150,0,0,,,,0\n52,1,2,140,100,0,0,138,1,0,,,,0\n55,1,3,110,277,0,0,160,0,0,,,,0\n54,1,2,120,238,0,0,154,0,0,,,,0\n52,1,2,160,196,0,0,165,0,0,,,,0\n53,0,2,140,216,0,0,142,1,2,2,,,0\n55,1,4,140,229,0,0,110,1,0.5,2,,,0\n49,0,2,110,,0,0,160,0,0,,,,0\n39,1,4,130,307,0,0,140,0,0,,,,0\n52,0,2,120,210,0,0,148,0,0,,,,0\n39,0,3,110,182,0,1,180,0,0,,,,0\n43,1,2,142,207,0,0,138,0,0,,,,0\n39,1,3,160,147,1,0,160,0,0,,,,0\n56,1,4,120,85,0,0,140,0,0,,,,0\n41,1,2,125,269,0,0,144,0,0,,,,0\n51,1,4,130,179,0,0,100,0,0,,,7,0\n57,1,2,140,260,1,0,140,0,0,,,6,0\n48,0,4,120,254,0,1,110,0,0,,,,0\n34,1,2,150,214,0,1,168,0,0,,,,0\n50,1,4,140,129,0,0,135,0,0,,,,0\n39,1,2,190,241,0,0,106,0,0,,,,0\n59,0,2,130,188,0,0,124,0,1,2,,,0\n47,1,4,140,276,1,0,125,1,0,,,,0\n38,1,2,140,297,0,0,150,0,0,,,,0\n49,0,3,130,207,0,1,135,0,0,,,,0\n35,0,1,120,160,0,1,185,0,0,,,,0\n52,0,3,125,272,0,0,139,0,0,,,,0\n46,1,4,110,240,0,1,140,0,0,,,3,0\n58,1,2,130,230,0,0,150,0,0,,,,0\n54,1,2,120,246,0,0,110,0,0,,,,0\n34,0,2,130,161,0,0,190,0,0,,,,0\n48,0,4,108,163,0,0,175,0,2,1,,,0\n54,0,2,120,230,1,0,140,0,0,,,,0\n42,1,3,120,228,0,0,152,1,1.5,2,,,0\n38,1,3,145,292,0,0,130,0,0,,,,0\n61,0,4,130,294,0,1,120,1,1,2,,,0\n43,0,2,120,215,0,1,175,0,0,,,,0\n39,1,2,120,,0,1,146,0,2,1,,,0\n53,1,4,140,243,0,0,155,0,0,,,,0\n39,1,4,110,273,0,0,132,0,0,,,,0\n42,1,2,120,198,0,0,155,0,0,,,,0\n43,0,2,120,249,0,1,176,0,0,,,,0\n50,1,2,120,168,0,0,160,0,0,,0,,0\n39,1,2,130,,0,0,120,0,0,,,,0\n48,1,2,100,,0,0,100,0,0,,,,0\n40,1,2,130,275,0,0,150,0,0,,,,0\n55,1,4,120,270,0,0,140,0,0,,,,0\n41,1,2,120,291,0,1,160,0,0,,,,0\n49,1,4,140,,0,0,130,0,0,,,,0\n54,1,2,160,195,0,1,130,0,1,1,,,0\n47,1,2,160,263,0,0,174,0,0,,,,0\n49,0,2,110,,0,0,160,0,0,,,,0\n42,1,2,120,196,0,0,150,0,0,,,,0\n52,0,2,140,,0,0,140,0,0,,,,0\n48,1,2,140,238,0,0,118,0,0,,,,0\n58,1,4,135,222,0,0,100,0,0,,,,0\n58,1,3,140,179,0,0,160,0,0,,,,0\n29,1,2,120,243,0,0,160,0,0,,,,0\n40,1,3,140,,0,0,188,0,0,,,,0\n53,1,2,140,320,0,0,162,0,0,,,,0\n49,1,3,140,187,0,0,172,0,0,,,,0\n59,1,2,140,287,0,0,150,0,0,,,,0\n37,1,3,130,194,0,0,150,0,0,,,,0\n46,0,4,130,238,0,0,90,0,0,,,,0\n51,1,2,130,224,0,0,150,0,0,,,,0\n46,1,4,110,238,0,1,140,1,1,2,,3,0\n54,0,2,160,312,0,0,130,0,0,,,,0\n58,1,2,130,251,0,0,110,0,0,,,,0\n50,0,4,120,328,0,0,110,1,1,2,,,0\n46,1,4,180,280,0,1,120,0,0,,,,0\n50,1,2,170,209,0,1,116,0,0,,,,0\n48,1,2,130,245,0,0,160,0,0,,,,0\n45,1,3,135,,0,0,110,0,0,,,,0\n41,0,2,125,184,0,0,180,0,0,,,,0\n62,0,1,160,193,0,0,116,0,0,,,,0\n49,1,4,120,297,,0,132,0,1,2,,,0\n42,1,2,150,268,0,0,136,0,0,,,,0\n57,0,1,130,308,0,0,98,0,1,2,,,0\n47,1,1,110,249,0,0,150,0,0,,,,0\n46,1,3,120,230,0,0,150,0,0,,,,0\n42,1,3,160,147,0,0,146,0,0,,,,0\n31,0,2,100,219,0,1,150,0,0,,,,0\n56,1,2,130,184,0,0,100,0,0,,,,0\n50,1,4,150,215,0,0,140,1,0,,,,0\n35,1,2,120,308,0,2,180,0,0,,,,0\n28,1,2,130,132,0,2,185,0,0,,,,0\n56,1,3,130,276,0,0,128,1,1,1,,6,0\n56,0,3,130,219,,1,164,0,0,,,7,0\n30,0,1,170,237,0,1,170,0,0,,,6,0\n54,1,3,120,217,0,0,137,0,0,,,,0\n55,1,2,140,196,0,0,150,0,0,,,7,0\n29,1,2,140,,0,0,170,0,0,,,,0\n48,0,3,120,195,0,0,125,0,0,,,,0\n33,1,3,120,298,0,0,185,0,0,,,,0\n55,1,2,120,256,1,0,137,0,0,,,7,0\n53,1,3,120,195,0,0,140,0,0,,,,0\n41,1,2,120,295,0,0,170,0,0,,,,0\n37,0,4,130,173,0,1,184,0,0,,,,0\n37,1,4,130,315,0,0,158,0,0,,,,0\n40,1,3,130,281,0,0,167,0,0,,,,0\n38,0,2,120,275,,0,129,0,0,,,,0\n41,1,4,112,250,0,0,142,0,0,,,,0\n54,0,2,140,309,,1,140,0,0,,,,0\n39,1,2,120,200,0,0,160,1,1,2,,,0\n55,1,2,145,326,0,0,155,0,0,,,,0\n43,0,2,120,266,0,0,118,0,0,,,,0\n54,1,1,120,171,0,0,137,0,2,1,,,0\n61,1,4,125,292,0,1,115,1,0,,,,0\n62,1,2,140,271,0,0,152,0,1,1,,,0\n53,0,3,120,274,0,0,130,0,0,,,,0\n55,0,2,130,394,0,2,150,0,0,,,,0\n36,1,3,150,160,0,0,172,0,0,,,,0\n51,0,3,150,200,0,0,120,0,0.5,1,,,0\n55,0,2,122,320,0,0,155,0,0,,,,0\n46,1,2,140,275,0,0,165,1,0,,,,0\n54,0,2,120,221,0,0,138,0,1,1,,,0\n54,1,2,160,305,0,0,175,0,0,,,,0\n34,1,2,98,220,0,0,150,0,0,,,,0\n47,0,3,130,,0,0,145,0,2,2,,,0\n45,1,4,120,225,0,0,140,0,0,,,,0\n32,0,2,105,198,0,0,165,0,0,,,,0\n55,1,3,120,220,0,2,134,0,0,,,,0\n45,0,2,180,,0,0,180,0,0,,,,0\n59,1,3,180,213,0,0,100,0,0,,,,0\n57,0,4,180,347,0,1,126,1,0.8,2,,,0\n54,0,2,130,253,0,1,155,0,0,,,,0\n60,1,3,120,246,0,2,135,0,0,,,,0\n51,0,3,130,220,0,0,160,1,2,1,,,0\n55,0,2,110,344,0,1,160,0,0,,,,0\n42,1,4,140,358,0,0,170,0,0,,,,0\n51,0,3,110,190,0,0,120,0,0,,,,0\n59,1,4,140,,0,0,140,0,0,,0,,0\n53,1,2,120,,0,0,132,0,0,,,,0\n48,0,2,,308,0,1,,,2,1,,,0\n36,1,2,120,166,0,0,180,0,0,,,,0\n48,1,3,110,211,0,0,138,0,0,,,6,0\n47,0,2,140,257,0,0,135,0,1,1,,,0\n53,1,4,130,182,0,0,148,0,0,,,,0'

In [208]:
pwd

'/Users/nimaarvin/Py_Working_Dir/Py_Working_Dir/Complete-Python-3-Bootcamp-master'

In [209]:
myfile.close()

In [210]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [10]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [12]:
with open('myfile.txt', mode='r') as myfile:
    contents= myfile.read()

In [211]:
with open('myfile.txt', mode='r') as firstfile:
    content=firstfile.read()
    print(content)

Hello this is a text file
this is the second line
this is the third line

In [212]:
with open('nima.txt', mode='r') as firstfile:
    content=firstfile.read()
    print(content)

My name is Nima
This is the first text file
I am learning Python

In [214]:
content

'My name is Nima\nThis is the first text file\nI am learning Python'

In [215]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [15]:
with open('myfile.txt', mode='w+') as myfile:
    contents= myfile.read()

In [16]:
contents

''

In [17]:
%%writefile myfile.txt
one on first
two on second
three on third

Overwriting myfile.txt

In [18]:
open('myfile.txt')

In [19]:
with open('myfile.txt') as myfile:
    content=myfile.read()

In [20]:
content

'one on first\ntwo on second\nthree on third'

In [21]:
with open('myfile.txt') as myfile:
    content=myfile.readlines()

In [22]:
content

['one on first\n', 'two on second\n', 'three on third']

In [23]:
%%writefile myfile.txt
'one on first \n wo for second \n three for third'

Overwriting myfile.txt

In [24]:
with open('myfile.txt') as f:
    content=f.read()

In [25]:
content

"'one on first \\n wo for second \\n three for third'"

In [1]:
%%writefile myfile.txt
one on first
two on second
three on third

Overwriting myfile.txt

In [27]:
print(open('myfile.txt').read())

one on first
two on second
three on third

In [4]:
with open('myfile.txt') as myfile:
    c=myfile.read()
c

'one on first\ntwo on second\nthree on third'

In [5]:
print(open('myfile.txt').read())

one on first
two on second
three on third

In [216]:
print(open('nima.txt').read())

My name is Nima
This is the first text file
I am learning Python

In [28]:
open('myfile.txt').read()

'one on first\ntwo on second\nthree on third'

In [29]:
print(content)

'one on first \n wo for second \n three for third'

In [217]:
with open('myfile.txt', mode='a') as f:
    print(f.write('four on fourth'))

14

In [218]:
print(open('myfile.txt').read())

Hello this is a text file
this is the second line
this is the third linefour on fourth

In [30]:
with open('myfile.txt', mode='a') as f:
    print(f.write('\n five on fifth'))

15

In [31]:
with open('myfile.txt', mode='a') as a:
    a.write('\n this is a test')
    print(open('myfile.txt').read())

this is for bthis is for b
 this is a test
 this is a testthis is for b
 five on fifth

In [32]:
with open('myfile.txt', mode='a') as b:
    b.write('this is for b')
    print(open('myfile.txt').read())

this is for bthis is for b
 this is a test
 this is a testthis is for b
 five on fifth
 this is a test

In [33]:
print(open('myfile.txt').read())

this is for bthis is for b
 this is a test
 this is a testthis is for b
 five on fifth
 this is a testthis is for b

In [34]:
with open('asdasdadad.txt', mode='w') as f:
    f.write('ICREATED THIS FILE!')

In [35]:
print(open('asdasdadad.txt').read())

ICREATED THIS FILE!

Mode of w is for rewriting the file

mode of a is for appending to a file

In [36]:
x=1

In [37]:
y=x

In [38]:
y

1

In [39]:
x=4

In [40]:
y

1

the above rule is very important as Python doesnt keep track of the variable changes

In [37]:
[0]*4

[0, 0, 0, 0]

In [38]:
list1=[6,6,9,8,9,4,3,2,5,0]

In [40]:
list1.sort()

In [42]:
list1

[0, 2, 3, 4, 5, 6, 6, 8, 9, 9]

In [43]:
sorted(list1)

[0, 2, 3, 4, 5, 6, 6, 8, 9, 9]

COMPARISON OPERATORS AND LOGICAL OPERATORS

In [45]:
2 == 2

True

In [46]:
2 ==1

False

= for assign a variable

In [47]:
'Hello'== 'Bye'

False

In [48]:
'Bye'=='bye'

False

In [49]:
2 == '2'

False

In [50]:
3 != 3

False

In [51]:
3 != 4

True

In [52]:
2 < 44

True

In [53]:
3 < 5

True

LOGICAL OPERATORS

and
or
not

In [54]:
1 < 4

True

In [55]:
4 < 6

True

In [56]:
1< 5< 7

True

In [57]:
1 < 4> 8

False

In [58]:
1 < 2 and 5 >6

False

In [59]:
1 < 4 or 5>7

True

In [61]:
1==1

True

In [62]:
not(1==1)

False

In [63]:
not 1==1

False

In [64]:
400 > 500

False

In [65]:
not 400 > 500

True

In [44]:
if 1<5:
    a=5
else:
    a=6

In [45]:
a

5

In [46]:
if 1<5:
    a=5

In [48]:
if 1<5:
    a=6
elif 1>5:
    a=7
else:
    a=8

In [49]:
a

6

In [50]:
hungry= True
if hungry==True:
    print('its true')

its true

In [51]:
if hungry==True:
    print('feed me')
else:
    print('I am not hungry')

feed me

In [52]:
loc = 'bank'
if loc == 'autoshop':
    print('cars are cool')
else:
    print('i do not know much')

i do not know much

In [53]:
loc = 'store'
if loc == 'autoshop':
    print('cars are cool')
elif loc =='bank':
    print('money is cool')
elif loc == 'store':
    print('welcome to store !')
else:
    print('i do not know much')

welcome to store !

In [93]:
name = 'sammy'
if name=='franky':
    print('hello franky')
elif name=='sammy':
    print('hello sammy')
else:
    print('what is your name ?')

hello sammy

FOR LOOP

In [1]:
my_iterable=[1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [60]:
mylist=[1,2,3,4,5,6,7,8,9]
for i in mylist:
        print(i)

1
2
3
4
5
6
7
8
9

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    #check for even
    if num % 2 ==0:
        print(f'the number {num} is even')
    else:
        print(f'the number {num} is odd')

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 8 is even
the number 9 is odd
the number 10 is even

In [68]:
mylist=[1,2,3,4,5,6,7,8,9]
for i in mylist:
    if i%2==0:
        print('the number {} is even'.format(i))
    elif i%2!=0:
        print('the number {} is odd'.format(i))

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 8 is even
the number 9 is odd

In [11]:
list_sum=0
for num in mylist:
    list_sum=list_sum+num
print(list_sum)

55

In [12]:
list_sum=0
for num in mylist:
    list_sum=list_sum+num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [16]:
mystring='hello world'
for i in mystring:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [21]:
for i in mystring:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [22]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [23]:
for _ in 'hello world':
    print('cool!')

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [74]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [75]:
mylist = [(1,2),(3,4),(5,6),(7,8),(9,10)]

In [76]:
len(mylist)

5

In [77]:
for i in mylist:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [80]:
for (a,b) in mylist:
    print(a,b)

1 2
3 4
5 6
7 8
9 10

In [79]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

In [81]:
for (a,b) in mylist:
    print(a)

1
3
5
7
9

TUPLE UNPACKING

In [82]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [83]:
for a,b,c in mylist:
    print(b)

2
5
8

ITTERATE THROUGH A DICTIONARY

In [88]:
d= {'k1':1,'k2':2,'k3':3}
for itemss in d:
    print (itemss)

k1
k2
k3

In [96]:
d= {'k1':1,'k2':2,'k3':3}
for itemss in d:
    print (d[itemss])

1
2
3

In [105]:
for i in d.keys():
    print(i)

k1
k2
k3

In [106]:
for i in d.values():
    print(i)

1
2
3

In [104]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [98]:
for items in d.values():
    print(items)

1
2
3

In [99]:
for key,value in d:
    print(value)

1
2
3

In [111]:
for keys,values in d:
    print(key)

k
k
k

In [125]:
for v in d.values(), d.keys():
    print(key)
    print(value)

dict_keys(['k1', 'k2', 'k3'])
dict_keys(['k1', 'k2', 'k3'])
dict_keys(['k1', 'k2', 'k3'])
dict_keys(['k1', 'k2', 'k3'])

In [42]:
for v in d.values():
    print(v)

1
2
3

In [43]:
for k in d.keys():
    print(k)

k1
k2
k3

WHILE LOOP

In [1]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

In [4]:
x=0
y=0
while x<5 and y<5:
    print(f'the current x is {x},{y}')
    x += 1
else:
    print('X is not less than 5')

the current x is 0,0
the current x is 1,0
the current x is 2,0
the current x is 3,0
the current x is 4,0
X is not less than 5

break , continue , pass

In [5]:
x=[1,2,3]
for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-5-8d529a34a932>, line 4)

In [6]:
x=[1,2,3]
for item in x:
    # comment
    pass

In [1]:
mystring='sammy'

In [4]:
for i in mystring:
    if i=='a':
        pass
    else:
        print(i)

s
m
m
y

In [6]:
for i in mystring:
    if i=='a':
        continue
    else:
        print(i)

s
m
m
y

In [7]:
for i in mystring:
    if i=='m':
        break
    else:
        print(i)

s
a

In [128]:
for l in mystring:
    print(l)

s
a
m
m
y

In [9]:
for letter in mystring:
    if letter=='a':
        continue
    print(letter)

s
m
m
y

continue = next

In [11]:
for letter in mystring:
    if letter=='a':
        break
    print(letter)

s

In [12]:
x=0
while x<5:
    print(x)
    x +=1

0
1
2
3
4

In [17]:
x=0
while x<10:
    if x%2==0:
        print(x)
        x+=1
    else:
        x+=1

0
2
4
6
8

In [129]:
x=0
while x<5:
    print(x)
    if x==1:
        break
    x +=1

0
1

OPERATORS

In [130]:
mylist=[1,2,3]

In [131]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [132]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [20]:
for num in range(3,10,0.1):
    print(num)

TypeError: 'float' object cannot be interpreted as an integer

In [21]:
?range()

In [17]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [27]:
list(range(2,10,3))

[2, 5, 8]

In [28]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [18]:
range(3,10,2)

range(3, 10, 2)

In [19]:
list(range(3,10,2))

[3, 5, 7, 9]

In [20]:
index_count=0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count, letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [21]:
index_count=0
word='abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [29]:
word='abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [31]:
enumerate(word)

In [32]:
?enumerate()

In [134]:
word='abcd'
for w in enumerate(word):
    print(w)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [137]:
word='abcd'
for w in word:
    print(w)

a
b
c
d

In [134]:
word='abcd'
for w in enumerate(word):
    print(w)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [23]:
word='abcde'
for item, letter in enumerate(word):
    print(item)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [33]:
word='abcde'
for  letter in enumerate(word):
    print(item)
    print(letter)
    print('\n')

(4, 'e')
(0, 'a')


(4, 'e')
(1, 'b')


(4, 'e')
(2, 'c')


(4, 'e')
(3, 'd')


(4, 'e')
(4, 'e')

In [36]:
mylist1=[1,2,3,4,5]
mylist2=['v','f','y']

In [37]:
zip(mylist1, mylist2)

In [38]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'v')
(2, 'f')
(3, 'y')

In [40]:
for item in mylist1+mylist2:
    print(item)

1
2
3
4
5
v
f
y

In [41]:
mylist1+mylist2

[1, 2, 3, 4, 5, 'v', 'f', 'y']

In [27]:
for item, letter in zip(mylist1, mylist2):
    print(item)
    print(letter)

1
v
2
f
3
y

In [28]:
list(zip(mylist1, mylist2))

[(1, 'v'), (2, 'f'), (3, 'y')]

In [29]:
'x' in [1,2,3]

False

In [30]:
'x' in ['x','y','z']

True

In [31]:
'a' in 'a world'

True

In [32]:
'mykey' in {'mykey':345}

True

In [42]:
d={'mykey':456}
'mykey' in d

True

In [43]:
456 in d

False

In [44]:
456 in d.values()

True

In [35]:
456 in d.values()

True

In [36]:
mylist=[3,4,5,6,7,8,9]

In [37]:
min(mylist)

3

In [38]:
max(mylist)

9

In [46]:
from random import shuffle

In [47]:
mylist = [ 3,4,5,6,7,8,9,10]

In [41]:
shuffle(mylist)

In [42]:
mylist

[6, 7, 5, 4, 9, 3, 10, 8]

In [43]:
shuffle(mylist)

In [44]:
mylist

[9, 6, 4, 3, 10, 5, 8, 7]

In [45]:
type(shuffle(mylist))

NoneType

In [46]:
from random import randint

In [52]:
?random.randint()

In [51]:
import random

In [47]:
randint(0,100)

93

In [48]:
randint(0,100)

20

In [49]:
mynum = randint(0,100)

In [50]:
mynum

59

In [51]:
mynum

59

In [52]:
input('enter a number here')

enter a number here50

'50'

In [53]:
result = input(' what is your name ?')

 what is your name ?Nima

result

In [54]:
result

'Nima'

In [53]:
input('enter your name here')

enter your name hereNima

'Nima'

In [55]:
number = input('what is your favorite number ?')

what is your favorite number ?444

In [56]:
number

'444'

input turns number and perceive it as string

In [57]:
type(number)

str

In [58]:
float(number)

444.0

In [59]:
int(number)

444

In [60]:
str(number)

'444'

In [60]:
number = int(input('what is your favorite number ?'))

what is your favorite number ?5252234

In [61]:
type(number)

int

In [62]:
number

5252234

In [63]:
mystring='hello'

In [64]:
mylist=[]
for letter in mystring :
    mylist.append(letter)

In [65]:
mylist

['h', 'e', 'l', 'l', 'o']

In [62]:
mylist=[]
mystring=input('enter a string')
for l in mystring:
    mylist.append(l)
print(mylist)

enter a stringmy name is nima
['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'n', 'i', 'm', 'a']

In [63]:
mylist=[letter for letter in mystring]

In [64]:
mylist

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'n', 'i', 'm', 'a']

In [68]:
mylist=[j for j in mylist]

In [69]:
mylist

['h', 'e', 'l', 'l', 'o']

In [70]:
mylist=[x for x in word]

In [71]:
mylist

['a', 'b', 'c', 'd', 'e']

In [72]:
mylist=[x for x in range(0,11)]

In [73]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
mylist = [num**2 for num in range(0,15)]

In [75]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [76]:
mylist = [x for x in range(0,11) if x%2==0 ]

In [77]:
mylist

[0, 2, 4, 6, 8, 10]

In [78]:
mylist = [x**2 for x in range(0,11) if x%2==0 ]

In [79]:
mylist

[0, 4, 16, 36, 64, 100]

In [80]:
celcius = [0,10,20,30,40]

In [81]:
farenheit= [((9/5)*temp + 32) for temp in celcius ]

In [82]:
farenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

In [83]:
farenheit= []
for temp in celcius:
    farenheit.append((9/5*temp)+32)

In [84]:
farenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

In [85]:
results=[x if x % 2 ==0 else 'ODD' for x in range(0,11)]

In [ ]:
results=[x for x in range(0,11) if x%2==0 else 'odd' ]

In [86]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [87]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [88]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [96]:
mylist=[x*y for x in [1,3,5] for y in [100,200,300]]

In [97]:
mylist

[100, 200, 300, 300, 600, 900, 500, 1000, 1500]

In [101]:
mylist=[x*y*z for x in range(0,10) for y in range(10,0,-1) for z in range(0,10)]

In [102]:
mylist

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 20,
 40,
 60,
 80,
 100,
 120,
 140,
 160,
 180,
 0,
 18,
 36,
 54,
 72,
 90,
 108,
 126,
 144,
 162,
 0,
 16,
 32,
 48,
 64,
 80,
 96,
 112,
 128,
 144,
 0,
 14,
 28,
 42,
 56,
 70,
 84,
 98,
 112,
 126,
 0,
 12,
 24,
 36,
 48,
 60,
 72,
 84,
 96,
 108,
 0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 30,
 60,
 90,
 120,
 150,
 180,
 210,
 240,
 270,
 0,
 27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 0,
 24,
 48,
 72,
 96,
 120,
 144,
 168,
 192,
 216,
 0,
 21,
 42,
 63,
 84,
 105,
 126,
 147,
 168,
 189,
 0,
 18,
 36,
 54,
 72,
 90,
 108,
 126,
 144,
 162,
 0,
 15,
 30,
 45,
 60,
 75,
 90,
 105,
 120,
 135,
 0,
 12,
 24,
 36,
 48,
 60,
 72,
 84,
 96,
 108,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 40,
 80,
 120,
 160,
 200,
 240,
 280,
 320,
 360,
 0,
 36,
 72,
 108,
 144,
 180,
 216,
 252,
 288,
 324,
 0,
 32,
 64,
 96,
 128,
 160,
 192,
 224,
 256,
 288,
 0,
 28,
 56,
 84,
 112,
 140,
 168,
 196,
 224,
 252,
 0,
 24,
 48,
 72,
 96,
 120,
 144,
 168,
 192,
 216,
 0,
 20,
 40,
 60,
 80,
 100,
 120,
 140,
 160,
 180,
 0,
 16,
 32,
 48,
 64,
 80,
 96,
 112,
 128,
 144,
 0,
 12,
 24,
 36,
 48,
 60,
 72,
 84,
 96,
 108,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 50,
 100,
 150,
 200,
 250,
 300,
 350,
 400,
 450,
 0,
 45,
 90,
 135,
 180,
 225,
 270,
 315,
 360,
 405,
 0,
 40,
 80,
 120,
 160,
 200,
 240,
 280,
 320,
 360,
 0,
 35,
 70,
 105,
 140,
 175,
 210,
 245,
 280,
 315,
 0,
 30,
 60,
 90,
 120,
 150,
 180,
 210,
 240,
 270,
 0,
 25,
 50,
 75,
 100,
 125,
 150,
 175,
 200,
 225,
 0,
 20,
 40,
 60,
 80,
 100,
 120,
 140,
 160,
 180,
 0,
 15,
 30,
 45,
 60,
 75,
 90,
 105,
 120,
 135,
 0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 60,
 120,
 180,
 240,
 300,
 360,
 420,
 480,
 540,
 0,
 54,
 108,
 162,
 216,
 270,
 324,
 378,
 432,
 486,
 0,
 48,
 96,
 144,
 192,
 240,
 288,
 336,
 384,
 432,
 0,
 42,
 84,
 126,
 168,
 210,
 252,
 294,
 336,
 378,
 0,
 36,
 72,
 108,
 144,
 180,
 216,
 252,
 288,
 324,
 0,
 30,
 60,
 90,
 120,
 150,
 180,
 210,
 240,
 270,
 0,
 24,
 48,
 72,
 96,
 120,
 144,
 168,
 192,
 216,
 0,
 18,
 36,
 54,
 72,
 90,
 108,
 126,
 144,
 162,
 0,
 12,
 24,
 36,
 48,
 60,
 72,
 84,
 96,
 108,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 70,
 140,
 210,
 280,
 350,
 420,
 490,
 560,
 630,
 0,
 63,
 126,
 189,
 252,
 315,
 378,
 441,
 504,
 567,
 0,
 56,
 112,
 168,
 224,
 280,
 336,
 392,
 448,
 504,
 0,
 49,
 98,
 147,
 196,
 245,
 294,
 343,
 392,
 441,
 0,
 42,
 84,
 126,
 168,
 210,
 252,
 294,
 336,
 378,
 0,
 35,
 70,
 105,
 140,
 175,
 210,
 245,
 280,
 315,
 0,
 28,
 56,
 84,
 112,
 140,
 168,
 196,
 224,
 252,
 0,
 21,
 42,
 63,
 84,
 105,
 126,
 147,
 168,
 189,
 0,
 14,
 28,
 42,
 56,
 70,
 84,
 98,
 112,
 126,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 80,
 160,
 240,
 320,
 400,
 480,
 560,
 640,
 720,
 0,
 72,
 144,
 216,
 288,
 360,
 432,
 504,
 576,
 648,
 0,
 64,
 128,
 192,
 256,
 320,
 384,
 448,
 512,
 576,
 0,
 56,
 112,
 168,
 224,
 280,
 336,
 392,
 448,
 504,
 0,
 48,
 96,
 144,
 192,
 240,
 288,
 336,
 384,
 432,
 0,
 40,
 80,
 120,
 160,
 200,
 240,
 280,
 320,
 360,
 0,
 32,
 64,
 96,
 128,
 160,
 192,
 224,
 256,
 288,
 0,
 24,
 48,
 72,
 96,
 120,
 144,
 168,
 192,
 216,
 0,
 16,
 32,
 48,
 64,
 80,
 96,
 112,
 128,
 144,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 90,
 180,
 270,
 360,
 450,
 540,
 630,
 720,
 810,
 0,
 81,
 162,
 243,
 324,
 405,
 486,
 567,
 648,
 729,
 0,
 72,
 144,
 216,
 288,
 360,
 432,
 504,
 576,
 648,
 0,
 63,
 126,
 189,
 252,
 315,
 378,
 441,
 504,
 567,
 0,
 54,
 108,
 162,
 216,
 270,
 324,
 378,
 432,
 486,
 0,
 45,
 90,
 135,
 180,
 225,
 270,
 315,
 360,
 405,
 0,
 36,
 72,
 108,
 144,
 180,
 216,
 252,
 288,
 324,
 0,
 27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 0,
 18,
 36,
 54,
 72,
 90,
 108,
 126,
 144,
 162,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [103]:
len(mylist)

1000

In [3]:
mylist=[x*y*z for x in range(0,10,1) for y in range(10,0,-1) for z in range(-5,5,2)]
mylist

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -50,
 -30,
 -10,
 10,
 30,
 -45,
 -27,
 -9,
 9,
 27,
 -40,
 -24,
 -8,
 8,
 24,
 -35,
 -21,
 -7,
 7,
 21,
 -30,
 -18,
 -6,
 6,
 18,
 -25,
 -15,
 -5,
 5,
 15,
 -20,
 -12,
 -4,
 4,
 12,
 -15,
 -9,
 -3,
 3,
 9,
 -10,
 -6,
 -2,
 2,
 6,
 -5,
 -3,
 -1,
 1,
 3,
 -100,
 -60,
 -20,
 20,
 60,
 -90,
 -54,
 -18,
 18,
 54,
 -80,
 -48,
 -16,
 16,
 48,
 -70,
 -42,
 -14,
 14,
 42,
 -60,
 -36,
 -12,
 12,
 36,
 -50,
 -30,
 -10,
 10,
 30,
 -40,
 -24,
 -8,
 8,
 24,
 -30,
 -18,
 -6,
 6,
 18,
 -20,
 -12,
 -4,
 4,
 12,
 -10,
 -6,
 -2,
 2,
 6,
 -150,
 -90,
 -30,
 30,
 90,
 -135,
 -81,
 -27,
 27,
 81,
 -120,
 -72,
 -24,
 24,
 72,
 -105,
 -63,
 -21,
 21,
 63,
 -90,
 -54,
 -18,
 18,
 54,
 -75,
 -45,
 -15,
 15,
 45,
 -60,
 -36,
 -12,
 12,
 36,
 -45,
 -27,
 -9,
 9,
 27,
 -30,
 -18,
 -6,
 6,
 18,
 -15,
 -9,
 -3,
 3,
 9,
 -200,
 -120,
 -40,
 40,
 120,
 -180,
 -108,
 -36,
 36,
 108,
 -160,
 -96,
 -32,
 32,
 96,
 -140,
 -84,
 -28,
 28,
 84,
 -120,
 -72,
 -24,
 24,
 72,
 -100,
 -60,
 -20,
 20,
 60,
 -80,
 -48,
 -16,
 16,
 48,
 -60,
 -36,
 -12,
 12,
 36,
 -40,
 -24,
 -8,
 8,
 24,
 -20,
 -12,
 -4,
 4,
 12,
 -250,
 -150,
 -50,
 50,
 150,
 -225,
 -135,
 -45,
 45,
 135,
 -200,
 -120,
 -40,
 40,
 120,
 -175,
 -105,
 -35,
 35,
 105,
 -150,
 -90,
 -30,
 30,
 90,
 -125,
 -75,
 -25,
 25,
 75,
 -100,
 -60,
 -20,
 20,
 60,
 -75,
 -45,
 -15,
 15,
 45,
 -50,
 -30,
 -10,
 10,
 30,
 -25,
 -15,
 -5,
 5,
 15,
 -300,
 -180,
 -60,
 60,
 180,
 -270,
 -162,
 -54,
 54,
 162,
 -240,
 -144,
 -48,
 48,
 144,
 -210,
 -126,
 -42,
 42,
 126,
 -180,
 -108,
 -36,
 36,
 108,
 -150,
 -90,
 -30,
 30,
 90,
 -120,
 -72,
 -24,
 24,
 72,
 -90,
 -54,
 -18,
 18,
 54,
 -60,
 -36,
 -12,
 12,
 36,
 -30,
 -18,
 -6,
 6,
 18,
 -350,
 -210,
 -70,
 70,
 210,
 -315,
 -189,
 -63,
 63,
 189,
 -280,
 -168,
 -56,
 56,
 168,
 -245,
 -147,
 -49,
 49,
 147,
 -210,
 -126,
 -42,
 42,
 126,
 -175,
 -105,
 -35,
 35,
 105,
 -140,
 -84,
 -28,
 28,
 84,
 -105,
 -63,
 -21,
 21,
 63,
 -70,
 -42,
 -14,
 14,
 42,
 -35,
 -21,
 -7,
 7,
 21,
 -400,
 -240,
 -80,
 80,
 240,
 -360,
 -216,
 -72,
 72,
 216,
 -320,
 -192,
 -64,
 64,
 192,
 -280,
 -168,
 -56,
 56,
 168,
 -240,
 -144,
 -48,
 48,
 144,
 -200,
 -120,
 -40,
 40,
 120,
 -160,
 -96,
 -32,
 32,
 96,
 -120,
 -72,
 -24,
 24,
 72,
 -80,
 -48,
 -16,
 16,
 48,
 -40,
 -24,
 -8,
 8,
 24,
 -450,
 -270,
 -90,
 90,
 270,
 -405,
 -243,
 -81,
 81,
 243,
 -360,
 -216,
 -72,
 72,
 216,
 -315,
 -189,
 -63,
 63,
 189,
 -270,
 -162,
 -54,
 54,
 162,
 -225,
 -135,
 -45,
 45,
 135,
 -180,
 -108,
 -36,
 36,
 108,
 -135,
 -81,
 -27,
 27,
 81,
 -90,
 -54,
 -18,
 18,
 54,
 -45,
 -27,
 -9,
 9,
 27]

In [4]:
len(mylist)

500