In [1]:
import csv
# % precision 2
with open('mpg.csv') as csvfile:
    mpg=list(csv.DictReader(csvfile))
print(mpg[:3])
print(len(mpg))
print(mpg[0].keys())
print(sum(float(d['cty']) for d in mpg)/len(mpg))
print(sum(float(d['hwy']) for d in mpg)/len(mpg))

[OrderedDict([('', '1'), ('manufacturer', 'audi'), ('model', 'a4'), ('displ', '1.8'), ('year', '1999'), ('cyl', '4'), ('trans', 'auto(l5)'), ('drv', 'f'), ('cty', '18'), ('hwy', '29'), ('fl', 'p'), ('class', 'compact')]), OrderedDict([('', '2'), ('manufacturer', 'audi'), ('model', 'a4'), ('displ', '1.8'), ('year', '1999'), ('cyl', '4'), ('trans', 'manual(m5)'), ('drv', 'f'), ('cty', '21'), ('hwy', '29'), ('fl', 'p'), ('class', 'compact')]), OrderedDict([('', '3'), ('manufacturer', 'audi'), ('model', 'a4'), ('displ', '2'), ('year', '2008'), ('cyl', '4'), ('trans', 'manual(m6)'), ('drv', 'f'), ('cty', '20'), ('hwy', '31'), ('fl', 'p'), ('class', 'compact')])]
234
odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])
16.858974358974358
23.44017094017094

In [2]:
sum(float(d['displ']) for d in mpg)/len(mpg)

3.4717948717948697

In [8]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [9]:
mpg[0].values()

odict_values(['1', 'audi', 'a4', '1.8', '1999', '4', 'auto(l5)', 'f', '18', '29', 'p', 'compact'])

In [10]:
cylenders=set(d['cyl'] for d in mpg)

In [11]:
cylenders

{'4', '5', '6', '8'}

In [18]:
import pandas as pd
df = pd.read_csv('mpg.csv')

In [20]:
df.head()

,Unnamed: 0,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact

In [29]:
(df['displ'].median())

3.3

In [31]:
df['year'].sum()

468819

In [32]:
cylenders

{'4', '5', '6', '8'}

In [44]:
ctympgbycyl=[]
for c in cylenders:
    summpg=0
    cylcount=0
    for d in mpg:
        if d['cyl']==c:
            summpg+= float(d['cty'])
            cylcount+=1
    ctympgbycyl.append((c,summpg/cylcount))

ctympgbycyl.sort(key=lambda x:x[1])
ctympgbycyl

[('8', 12.571428571428571),
 ('6', 16.21518987341772),
 ('5', 20.5),
 ('4', 21.012345679012345)]

In [45]:
vehicleclass=set(d['class'] for d in mpg)

In [46]:
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [51]:
hwympgbyclass=[]
for c in vehicleclass:
    summpg=0
    classcount=0
    for d in mpg:
        if d['class']==c:
            summpg+=float(d['hwy'])
            classcount+=1
    hwympgbyclass.append((c,summpg/classcount))
hwympgbyclass.sort(key=lambda x:x[1])
hwympgbyclass

[('pickup', 16.87878787878788),
 ('suv', 18.129032258064516),
 ('minivan', 22.363636363636363),
 ('2seater', 24.8),
 ('midsize', 27.29268292682927),
 ('subcompact', 28.142857142857142),
 ('compact', 28.29787234042553)]

In [52]:
import datetime as dt
import time as tm

In [53]:
tm.time()

1551066874.28783

In [54]:
dtnow=dt.datetime.fromtimestamp(tm.time())

In [55]:
dtnow

datetime.datetime(2019, 2, 24, 22, 55, 28, 228684)

In [56]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour , dtnow.minute, dtnow.second

(2019, 2, 24, 22, 55, 28)

In [64]:
delta=dt.timedelta(days=100)
delta

datetime.timedelta(days=100)

In [66]:
delta

datetime.timedelta(days=100)

In [71]:
today=dt.datetime.today()

In [72]:
today

datetime.datetime(2019, 2, 24, 23, 3, 54, 291894)

In [73]:
today-delta

datetime.datetime(2018, 11, 16, 23, 3, 54, 291894)

In [78]:
delta=dt.timedelta(days=10)

In [79]:
today-delta

datetime.datetime(2019, 2, 14, 23, 3, 54, 291894)

In [80]:
today>today-delta

True

In [81]:
class Person:
    department='school of information'
    def set_name(self, new_name):
        self.name=new_name
    def set_location(self, new_location):
        self.location=new_location

In [86]:
def dlt(d=10):
    today=dt.datetime.today()
    delta=dt.timedelta(days=d)
    return today-delta

In [87]:
dlt(100)

datetime.datetime(2018, 11, 16, 23, 20, 55, 802659)

In [88]:
dlt(20)

datetime.datetime(2019, 2, 4, 23, 21, 6, 723317)

In [93]:
mylist=list(map(dlt, range(1,20)))

In [95]:
mylist[0].year

2019

In [96]:
mylist[3].day

20

In [98]:
store1=[10,13.4,24,13.45]

store2=[10.34,67.45,12.34,34.44]
list(map(min,store1,store2))

[10, 13.4, 12.34, 13.45]

In [99]:
myfunction=lambda a,b,c:a+b

In [100]:
myfunction(2,3,4)

5

In [101]:
myfunction=lambda a,b,c=10:a+b+c

In [103]:

myfunction(2,3)

15

In [109]:
mylist=[n for n in range(1,10) if n%2==0]

In [110]:
mylist

[2, 4, 6, 8]

In [111]:
import numpy as np

In [112]:
mylist=[1,2,3]
x=np.array(mylist)
x

array([1, 2, 3])

In [113]:
y=np.array([4,5,6])
y

array([4, 5, 6])

In [118]:
m=np.array([[1,2,3,5],[4,5,6,4]])

In [119]:
m.shape

(2, 4)

In [122]:
n=np.arange(0,30,2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [123]:
n=n.reshape(3,5)

In [124]:
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [125]:
o=np.linspace(0,4,10)

In [126]:
o

array([0.        , 0.44444444, 0.88888889, 1.33333333, 1.77777778,
       2.22222222, 2.66666667, 3.11111111, 3.55555556, 4.        ])

In [127]:
o=np.linspace(0,4,9)
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])