# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if sum((a,b))%2==0:
        return min(a,b)
    elif sum((a,b))%2!=0:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [32]:
def animal_crackers(text):
    x=text.lower()
    x1=x.split()
    if x1[0][0]==x1[1][0]:
        return True
    else:
        return False

In [33]:
# Check
animal_crackers('Levelheaded Llama')

True

In [34]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [37]:
def makes_twenty(n1,n2):
    if sum((n1,n2))==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [38]:
# Check
makes_twenty(20,10)

True

In [39]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [44]:
def old_macdonald(name):
    a=name[0:3]
    b=name[3:]
    return a.capitalize()+b.capitalize()
    pass

In [45]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [48]:
def master_yoda(text):
    a=text.split()
    b=a[::-1]
    return " ".join(b)
    pass

In [49]:
# Check
master_yoda('I am home')

'home am I'

In [50]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [53]:
def almost_there(n):
    a=n-100
    b=n-200
    if (a<=10 and a>=-10) or (b<=10 and b>=-10):
        return True
    else:
        return False
    pass

In [54]:
# Check
almost_there(104)

True

In [55]:
# Check
almost_there(150)

False

In [56]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [73]:
def has_33(nums):
    a=[str(x) for x in nums]
    b="".join(a)
    if '33' in b:
        return True
    else:
        return False
    pass

In [74]:
# Check
has_33([1, 3, 3])

True

In [75]:
# Check
has_33([1, 3, 1, 3])

False

In [76]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [4]:
def paper_doll(text):
    x=[x*3 for x in text]
    y="".join(x)
    return y

In [5]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [6]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [16]:
def blackjack(a,b,c):
    if a in range(1,11)==False or  b in range(1,11)==False or c in range(1,11)==False:
        return "Please enter between 1 and 11"
    s=sum((a,b,c))
    if s<=21:
        return s
    elif s>21 and (a==11 or b==11 or c==11):
        return s-10
    elif s>21 and a!=11 and b!=11 and c!=11:
        return 'BUST'
    
    pass

In [17]:
# Check
blackjack(5,6,7)

18

In [18]:
# Check
blackjack(9,9,9)

'BUST'

In [19]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [22]:
def summer_69(arr):
    b=1
    x=[]
    for i in arr:
        if i != 6 and b==1:
            x.append(i)
        elif i==6:
            b=0
            continue
        elif b==0 and i==9:
            b=1
    return sum(x)

In [23]:
# Check
summer_69([1, 3, 5])

9

In [24]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [27]:
# Check
summer_69([2, 1, 6, 9, 11,9,6,10,9])

23

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [28]:
def spy_game(nums):
    x=[str(a) for a in nums]
    y="".join(x)
    if '007' in y:
        return True
    else:
        return False

In [17]:
def spy_game(nums):
    for i in range(1,len(nums)-2):
        if nums[i]==0 and nums[i+1]==0 and nums[i+2]==7:
            return True
    return False

In [28]:
def spy_game(nums):
    x=''
    for i in nums:
        if i in [0,7]:
            x=x+str(i)
    if '007' in x:
        return True
    else:
        return False

In [29]:
# Check
spy_game([1,2,4,0,0,7,5])

007

True

In [30]:
# Check
spy_game([1,0,2,4,0,5,0,0,7])

00007

True

In [31]:
# Check
spy_game([1,7,2,0,4,5,0])

700

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [12]:
def count_primes(num):
    x=[]
    for i in range(1,num+1):
        c=0
        for j in range(1,i+1):
            if i%j==0:
                c+=1
        if c==2:
            x.append(i)
    return len(x)

In [16]:
# Check
count_primes(100)

25

In [18]:
x=[x for x in range(1,10)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


range is exclusive of the last number example, range(1,10) only brings the numbers from 1 to 9

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [33]:
def print_big(letter):
    l=letter.lower()
    a='     *   \n  ******* \n  *     * \n  *     * \n  *     * '
    b='***\n*   *\n*   *\n*   *\n*   *\n***\n*   *\n*   *\n*   *\n*   *\n***'
    c='***\n*   *\n*\n*\n*\n*\n*   *\n***'
    d='***\n*   *\n*    *\n*     *\n*     *\n*    *\n*   *\n***'
    k={'a':a,'b':b,'c':c,'d':d}
    print(k[l])
    pass

In [34]:
print_big('a')

     *
  *******
  *     *
  *     *
  *     *

In [35]:
print_big('B')

***
*   *
*   *
*   *
*   *
***
*   *
*   *
*   *
*   *
***

In [36]:
print_big("d")

***
*   *
*    *
*     *
*     *
*    *
*   *
***

## Great Job!